<p>
  <mat-toolbar color="primary">
  
   <span>Online Train Reservation System</span><br>
    BY-180031244 
  
  <span class="example-spacer"></span>
  
  </mat-toolbar>
  </p>
  
  <mat-tab-group color="warn" mat-align-tabs="start" style="border: 0em;">
  <mat-tab label="NewBooking"><app-newbooking></app-newbooking></mat-tab>
  <mat-tab label="Train List"><app-trainlist></app-trainlist></mat-tab>
  <mat-tab label="Add Passenger"><app-passengers></app-passengers></mat-tab>
  <mat-tab label="Make Payment"><app-makepayment></app-makepayment></mat-tab>
  <mat-tab label="irctc-feedback"><app-irctc-feedback></app-irctc-feedback></mat-tab>
</mat-tab-group>  