<mat-card id="card" style="text-align: center;">
    <div class="example-container">
        <mat-form-field color="warn" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="name"> 
          </mat-form-field>
        <br>
        <mat-form-field color="warn" appearance="legacy">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="bankname"> 
        </mat-form-field>
        <br>
        <mat-form-field color="warn" appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput placeholder="name on card"> 
        </mat-form-field>
        <br>
        <mat-form-field color="warn" appearance="legacy">
        <mat-label>Mobile no</mat-label>
        <input matInput placeholder="card no."> 
        </mat-form-field>
        <br>
        <mat-form-field color="warn" appearance="legacy">
        <mat-label>Feedback</mat-label>
        <input matInput placeholder="amount"> 
        </mat-form-field>
        <br>
   
    </div>
        
    <button mat-raised-button color="primary">Submit</button>
     
    </mat-card>
          
    