<mat-card id="card" style="text-align: center;">
<div class="example-container">
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput='text'>
    </mat-form-field>
    <br>
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Phone Number</mat-label>
    <input matInput='text'>
    </mat-form-field>
    <br>
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput='text'>
    </mat-form-field>
    <br>
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Age</mat-label>
    <input matInput='text'>
    </mat-form-field>
    <br>
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Aadhar No</mat-label>
    <input matInput='text'>
    </mat-form-field>
    <br>
    
    
    
    <mat-form-field color="warn" appearance="legacy">
    <mat-label>Gender</mat-label>
    <mat-select>
    <mat-option value="Male">MALE</mat-option>
    <mat-option value="Female">FEMALE</mat-option>
    </mat-select>
    </mat-form-field>
    <br>
    <section class="example-section">
    <mat-checkbox class="example-margin">I Accept The terms<br> and Conditions</mat-checkbox>
    </section><br>
</div>
    
<button mat-raised-button color="primary" (click)="Submit()">Submit</button>
</mat-card>
    
    
      
